<h2>All Superheroes</h2>

<!-- <p>Find this file in app/views/home/index.html.erb</p>   -->


<ul>
  <% @superheroes.each do |superhero| %>
    
    <li><a href="/superheroes/<%= superhero.id %>"><%= superhero.name %></a>
    </li>
 
    <br>
 
  <% end %>
  </ul>

<%= link_to 'Superpower List', superpower_path(@superpower_id) %> 
<%= link_to 'Back to Superhero List', superhero_path %>

